@import url("https://fonts.googleapis.com/css?family=Crimson Text");
$font-family-base: "Crimson Text";

$primary: #ae0d0d;
$info: #54d81d;
$success: #66c0e1;
$warning: #d14dc0;
$danger: #9b5f93;
$dark: #231f20;
$light: #d9d9d9;

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";

$custom-colors: (
  "grey": #c6b6b6,
  "lightest": #e7e7e7,
  "black": #04151f,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "./node_modules/bootstrap/scss/maps";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";
