.w_105 {
  width: 105px;
}

.w_250 {
  width: 250px;
}

.mh_mw_80 {
  max-width: 80px;
  max-height: 80px;
}

.mh_mw_250 {
  max-width: 250px;
  max-height: 250px;
}

.h_w_30 {
  height: 30px;
  width: 30px;
}

.h_w_60 {
  height: 60px;
  width: 60px;
}